<!---Footer-->
<div class="bg-[#1c1a17] p-8 pl-10 flex justify-between gap-x-0.5 items-start">
    <div class="font-[posterama-semibold]">
        <h1 class="pb-6 text-[1vw]">Obtén más información <br> aquí</h1>
        <a href="">
            <button class="bg-amber-500 py-2 px-14 rounded-xl text-[1vw] cursor-pointer">Contactanos</button>
        </a>
    </div>
    <div class="flex-col font-[posterama-semibold] pl-2">
        <h1 class="text-[1vw] text-amber-500 pb-2">CONTACTO</h1>
        <h1 class="text-[1vw] pb-6">TRUJILLOPRODUCTOR&#64;HOTMAIL.COM</h1>
        <h1 class="text-[1vw]">(+57) 3123949981</h1>
    </div>
    <div class="grid grid-cols-2 gap-x-2 gap-y-2 pr-10 pt-4">
        <a href="">
            <img src="/assets/img/instagram-logo2.png" alt="logo-instagram" class="w-[3vw] h-[3vw]">
        </a>
        <a href="">
            <img src="/assets/img/facebook-logo.png" alt="logo-instagram" class="w-[3vw] h-[3vw]">
        </a>
        <a href="">
            <img src="/assets/img/linkedin-logo.png" alt="logo-instagram" class="w-[3vw] h-[3vw]">
        </a>
        <a href="">
            <img src="/assets/img/threads-logo.png" alt="logo-instagram" class="w-[3vw] h-[3vw]">
        </a>
    </div>
</div>

